<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" 
	type="text/css" 
	href="css/style.css">
	<script type="text/javascript" src="js/menu.js"></script>
	<script src="/socket.io/socket.io.js" defer></script>
	<!-- <script src="js/js_script.js" defer></script>  -->
	<script src="js/vue_script.js" defer></script>
	<script src="https://vuejs.org/js/vue.js"></script> 
	<title>Welcome to Heavenly Burgers!</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<main id="app">
		<section id="headpart">
			<h1> Welcome to Heavenly Burgers!</h1>
			<img id="headimage" src="https://media-cdn.tripadvisor.com/media/photo-s/10/6f/7d/f8/photo5jpg.jpg" alt="top" title= "rest" style="width:100%;">
			<div class="centertext"> <h1>We WILL satisfy your burger needs!</h1></div>
		</section>	

		<section id="menu"><!Menus>
			<center><h3> Chefs recommendations</h3></center>
			<div id="burgerSelect" class="wrapper">
				<div v-for="burger in burgers">
					<h2> {{ burger.name }} </h2>
					<img v-bind:src="burger.img" height="300" width="300"></img>
					<h4> {{ burger.desc }} </h4>
					<li v-if="burger.lactose"> <span class="allergy"> contains Lactose </span></li>
					<li v-if="burger.gluten"> <span class="allergy"> contains Gluten </span></li>
					<li> {{ burger.kCal}} </li>
					<input type='checkbox' id='chosen' v-bind:value='burger.name' v-model='checked'>
					<label for="chosen"> I want this!  </label>
				</div>
			</div>
		</section>

		<section id="customerinfo"> 
			<h1> Customer information </h1>
			<p> Formula where customers can fill in their information</p>

<!-- 						<form> JS-version 
							<p>
								<label for="firstandlastname">Full name</label><br>
								<input type="text" id="firstandlastname" name="faln" required="required" placeholder="First- and Last name" />
							</p>
							<p>
								<label for="email">E-mail</label><br> 
								<input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
							</p>
						</form>	 -->
<!-- 						<form><!Radio Buttons>
							<h3>Gender</h3>
							<p>
								<input type="radio" id="female" name="gender" value="female"> <label for="female">Female</input><br>
								<input type="radio" id="male" name="gender" value="male"> <label for="male">Male</input><br>
								<input type="radio" id="other" name="gender" value="other"> <label for="other">Other</input><br>
								<input type="radio" id="non" name="gender" value="non" checked="checked"> <label for="non">Do not wish to provide</input><br>
							</p>
						</form>	 -->
				<div id="customerInfo">
						<h6>Name</h6>
						<input v-model="name" placeholder="First- and lastname">
						<h6>E-mail</h6>
						<input v-model="email" placeholder="E-mail address">

						<h6>Gender</h6> 
						<input type="radio" id="one" value="Female" v-model="picked">
						<label for="one">Female</label>
						<br>	
						<input type="radio" id="two" value="Male" v-model="picked">
						<label for="two">Male</label>
						<br>	
						<input type="radio" id="other" value="Other" v-model="picked">
						<label for="other">Other</label>
						<br>	
						<input type="radio" id="non" value="Non" v-model="picked">
						<label for="non">Don't want to specify</label>
						</div>
						<h3> Delivery information </h3>
						<h6>Location</h6>
						<div class="view-box">
							<div id="dots" v-on:click="displayOrder">
								<div v-bind:style="{ left: localOrder.details.x + 'px', top: localOrder.details.y + 'px'}">
									{{  localOrder.orderId }}
								</div>
							</div>
						</div>
						<div id="payment"><!Payment section>
							<h3>Payment methods</h3>
							<p>
								<label for="method">Method</label><br/>
								<select id="method" name="meth">
									<option>Credit Card/Bankcard <selected="selected"> </option>
									<option>Swish</option>
									<option>Google Pay</option>
								</select>
							</p>
						</div>
						<button v-on:click="addOrder()"> Order now </button>
			</section>

<!-- 
				<section id="confirm"> Task t4-10 - JS versions
						<input id="confirmBtn" type="submit" value="Order" />
					</section> 
 -->								
			<section id="orderConfirm">
				<div id="orderSummary">
							<h4>Your order:</h4> <br>
							Burger: {{ custBurger }} <br>
							Name: {{ custName }} <br>
							Email: {{ custMail }} <br>
							Gender: {{ custGender}}
					</div>
			</section>		
				</main>
				<footer> <hr>&copy 2020 HeavenlyBurgers Inc.</footer>
			</body>
			</html>