<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" 
	type="text/css" 
	href="css/style.css">
	<script src="js/js_script.js" defer></script>
	<!-- <script src="js/vue_script.js"></script>
	<script src="https://vuejs.org/js/vue.js"></script> -->
	<title>Welcome to Heavenly Burgers!</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<main>
		<section id="headpart">
			<h1> Welcome to Heavenly Burgers!</h1>
			<img id="headimage" src="https://media-cdn.tripadvisor.com/media/photo-s/10/6f/7d/f8/photo5jpg.jpg" alt="top" title= "rest" style="width:100%;">
			<div class="centertext"> <h1>We WILL satisfy your burger needs!</h1></div>
		</section>	

		<section id="menu"><!Menus>
			<center><h3> Chefs recommendations</h3></center>
			<div id="burgerselect" class="wrapper">
				<div id="1" class="box a"> Terayaki chicken "Tasty" burger </div>
				<div id="2" class="box b"> Red chili "The Destroyer" burger</div>
				<div id="3" class="box c"> Healthy quorn "goNature" burger</div>
				<!-- to add new burger, must add line!
				<div id="4" class="box c"> newBurger</div>
			-->
			</div>
				<!--TO BE IMPLEMENTED IF NEEDED<div class="box d">D</div>-->
		</section>
					<section id="customerinfo"> <!CUSTOMER INFORMATION>
						<h1> Customer information </h1>
						<p> Formula where customers can fill in their information</p>
						<h3> Delivery information </h3>
						<form> <!LIST>
							<p>
								<label for="firstandlastname">Full name</label><br>
								<input type="text" id="firstandlastname" name="faln" required="required" placeholder="First- and Last name" />
							</p>
							<p>
								<label for="email">E-mail</label><br> 
								<input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
							</p>
							<p>
								<label for="streetname">Street</label><br>
								<input type="text" id="street" name="st" placeholder="Street name" />
							</p>
							<p>
								<label for="number">House</label><br>
								<input type="text" id="number" name="st" placeholder="House number" />
							</p> 
						</form>	
						<form><!Radio Buttons>
							<h3>Gender</h3>
							<p>
								<input type="radio" id="female" name="gender" value="female"> <label for="female">Female</input><br>
								<input type="radio" id="male" name="gender" value="male"> <label for="male">Male</input><br>
								<input type="radio" id="other" name="gender" value="other"> <label for="other">Other</input><br>
								<input type="radio" id="non" name="gender" value="non" checked="checked"> <label for="non">Do not wish to provide</input><br>
							</p>
						</form>	
					</section>
					<section id="payment"><!Payment section>
						<h1>Payment methods</h1>
						<p>
							<label for="method">Method</label><br/>
							<select id="method" name="meth">
								<option>Credit Card/Bankcard <selected="selected"> </option>
								<option>Swish</option>
								<option>Google Pay</option>
							</select>
						</p>
					</section>	
					<section id="confirm">
						<input type="submit" value="Order" />
					</section>
				</main>
				<footer> <hr>&copy 2020 HeavenlyBurgers Inc.</footer>
			</body>
			</html>