<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" 
	type="text/css" 
	href="css/style.css">
	<title>Welcome to Heavenly Burgers!</title>
	<meta charset="UTF-8"/>
</head>
<body>
<header>
		<h1> Welcome to Heavenly Burgers</h1>
		<p> WE help you satisfy your burger-needs! </p> <br>
	<div id="start">
		<img src="https://media-cdn.tripadvisor.com/media/photo-s/10/6f/7d/f8/photo5jpg.jpg" alt="top" title= "rest">
	</div>
</header>	
	<main>
		<section id="menu"><!Menus>
		<center><h3> Chefs recommendations</h3></center>
			<table id="table1" cellspacing="15">
			<thead>
				<tr>
					<th>Terayaki chicken "Tasty" burger </th>
					<th>Red chili "The Destroyer" burger</th>
					<th>Healthy quorn "goNature" burger</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!bilder>
					<td><img src="https://www.seriouseats.com/recipes/images/2015/07/20150727-teriyaki-burger-recipe-15-1500x1125.jpg" alt="terayaki" title= "terayaki burger" width="250">
					</td>
					<td><img src="https://www.butchers-sundries.com/ekmps/shops/trunetpackaging/images/premium-chilli-burger-mix-500g-10629-p.jpeg" alt="chili" title= "chili burger" height="200"></td>
					<td><img src="https://www.thespruceeats.com/thmb/UAh3Lv71pRikSXvICqkv8kVQJsg=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/black-bean-burger-with-mashed-avocado--caramelized-onions-and-tomatoes-589977718-5ab84dcc30371300371106af.jpg" alt="quorn" title= "qourn burger" width="300">
					</td>
				</tr>
				<tr>
					<!Infotext>
					<td> 
						<p> <h4>500 gram with marinated grilled chicken, bean sprout,<br />
							shredded lettuce, spring onions and terayaki sauce</h4></p>
							<li> Contains <span class="allergy"> gluten </span> </li> 
							<li> 550 kCal </li>
						</td>
						<td>
							<p><h5>500 gram beefburger with lettuce, pickled onions,<br />
								tomato, pepper jack cheese and spicy red chili sauce</h5></p>
								<li> Contains <span class="allergy">gluten </span> </li>
								<li> Contains <span class="allergy">lactose </span></li>
								<li> 650 kCal </li>
							</td>
							<td>
								<p><h4>500 gram grilled qourn patty with, sauteed mushroom,<br />
									tomatos and homemade guacamole</h4></p>
									<li> Glutenfree </li>
									<li> Vegan </li>
									<li> 500 kCal </li>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
					<section id="customerinfo"> <!CUSTOMER INFORMATION>
						<h1> Customer information </h1>
						<p> Formula where customers can fill in their information</p>
						<h3> Delivery information </h3>
						<form> <!LIST>
							<p>
								<label for="firstandlastname">Full name</label><br>
								<input type="text" id="firstandlastname" name="faln" required="required" placeholder="First- and Last name" />
							</p>
							<p>
								<label for="email">E-mail</label><br> 
								<input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
							</p>
							<p>
								<label for="streetname">Street</label><br>
								<input type="text" id="street" name="st" placeholder="Street name" />
							</p>
							<p>
								<label for="number">House</label><br>
								<input type="text" id="number" name="st" placeholder="House number" />
							</p> 
						</form>	
						<form><!Radio Buttons>
							<h3>Gender</h3>
							<p>
								<input type="radio" id="female" name="gender" value="female"> <label for="female">Female</input><br>
								<input type="radio" id="male" name="gender" value="male"> <label for="male">Male</input><br>
								<input type="radio" id="other" name="gender" value="other"> <label for="other">Other</input><br>
								<input type="radio" id="non" name="gender" value="non" checked="checked"> <label for="non">Do not wish to provide</input><br>
							</p>
						</form>	
					</section>
					<section id="payment"><!Payment section>
						<h1>Payment methods</h1>
						<p>
							<label for="method">Method</label><br/>
							<select id="method" name="meth">
								<option>Credit Card/Bankcard <selected="selected"> </option>
								<option>Swish</option>
								<option>Google Pay</option>
							</select>
						</p>
					</section>	
					<section id="confirm">
					<input type="submit" value="Order" />
					</section>
				</main>
				<hr>
				<footer> &copy 2020 HeavenlyBurgers Inc.</footer>
			</body>
			</html>