body {
font-family: "arial", sans-serif;
font-size: 18px;
margin: 0 auto;
}

.allergy {
	color: #ff0000;
	text-transform: uppercase;
	font-weight: bold;
}

#menu {
	color: #ffffff;
	background-color: black;
}

#customerinfo {
	color: #000000;
	background-color: white;
}
/* #TODO {
		color: #ff0000;	
	}
*/		

input[type=submit] {
	background-color: #FFFFFF;
	border: none;
	color: black;
	padding: 16px 32px;
	font-size: 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input:hover {
	background-color: #028A0F;
	color: white;
}

#table1 {
	width: 10px;
	padding: 50px;
	margin: 0 auto;
}

