body {
font-family: "arial", sans-serif;
font-size: 18px;
}

.allergy {
	color: #ff0000;
	text-transform: uppercase;
	font-weight: bold;
}

#menu {
	color: #ffffff;
	background-color: black;
}

#customerinfo {
	color: #000000;
	background-color: white;
}
/* #TODO {
		color: #ff0000;	
	}
*/		

